h1{
 text-align: center; 
 padding:100px;  
 margin-top: 0px;
}
header{
    background-color: #27f1ff;
}
body{
    background-color:#fcfc93 ;
    margin: 0px;;
    
}
h2{
    display: inline;
    padding: 50px;
}
p{
    font-size: larger;
    padding: 20px;
}
a:hover{
 color: white;
}

